.filter-header {
    font-size: large;
}

.letter-container {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.active-letter {
    color: rgb(7, 110, 220);
    font-size: small;
}

.inactive-letter {
    color: grey;
    font-size: small;
}
