.logo-container {
    margin: 0 5%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.logo {
    margin-bottom: 10px;
}

.address {
    font-size: 10px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about-container {
    margin: 0 5%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.about-container > p {
    margin-bottom: 10px;
    font-size: 12px;
}

.about-container > a {
    color: rgb(111 133 141);
    font-size: 10px;
}

.socials-container {
    margin: 0 5%;
    height: 80%;
}

.socials-container > p {
    margin-bottom: 10px;
    font-size: 12px;
}

.socials {
    display: flex;
    justify-content: space-around;
}

.socials-logo {
    margin: 0 5px;
}
