.copywright-container {
    color: rgb(111 133 141);
    font-size: 10px;
    margin-right: 15%;
}

.copywright-container > a {
    color: white;
}

.links-container {
    font-size: 10px;
    color: white;
}

.links-container > div > a {
    color: white;
    margin: 0 1px;
}
