.wait-times-container {
    flex: 1;
    margin-left: 2%;
    font-size: small;
}

.alerts-container {
    flex: 1;
    display: flex;
    justify-content: end;
}

.btn-general {
    font-size: 12px;
    margin-right: 10px;
    padding: 5px;
    border-radius: 3px;
}

.appointment-button {
    color: white;
    border: solid black 2px;
    background-color: rgb(25, 38, 66);
}

.alerts-button {
    background-color: rgb(248 218 222);
    border: solid rgb(243, 204, 206) 2px;
}
