.nav-bar {
    flex: 1 0;
    background-color: rgb(25, 38, 66);
    justify-content: space-between !important;
}

.alerts-header {
    flex: 1.2 0;
    background-color: rgb(255, 255, 255);
}

.search-header {
    flex:  3 0;
    background-color: rgb(36, 61, 122);
    justify-content: space-around !important;
}

.flex-center {
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
