.logo-container {
    color: white;
    flex: 1;
    margin-left: 1%;
}

.links-container {
    font-size: small;
    flex: 4 0;
    display: flex;
    justify-content: space-around;
}

.links-container > a {
    color: white;
    text-decoration: none;
}

.links-container > input {
    width: 5%;
}
