.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header, .footer {
  flex: 1 0 15%;
}

.container {
  flex: 3.5 70%;
  max-height: 70%;
}
