.body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.section {
  width: 100%;
  border: solid green 2px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.header, .footer {
  flex: 1;
}

.container {
  flex: 3.5;
  background-color: rgb(245, 247, 249);
}
